header{
    font-size: 300%;
    background-color: rgb(42, 96, 141);
    font-style: italic;
    color: pink;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

.card{
    width: 30%;
    height: 30%;
    justify-content: center;
}
ul {
    list-style-type: none;
  }
.container{
    display: flex;
   justify-content: flex-start;

}

#results-container{
    background-color: yellow;
}

#five-day{
justify-content: center;
}
